<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
    <bean id="xzykManager" class="com.seeyon.apps.ext.zxzyk.manager.XzykManagerImpl"/>
    <bean id="orgDeptManager" class="com.seeyon.apps.ext.zxzyk.manager.OrgDeptManagerImpl"/>
    <bean id="orgLevelManager" class="com.seeyon.apps.ext.zxzyk.manager.OrgLevelManagerImpl"/>
    <bean id="orgMemberManager" class="com.seeyon.apps.ext.zxzyk.manager.OrgMemberManagerImpl"/>

</beans>